<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dash</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='Style.css'> -->
    
</head>
<body>
    <div class="videoFrame">
        <iframe id='video1' width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="bottomform">
            
                <input id='link1' type='text' placeholder="youtube link"/>
                <input id='subm1' class="SubmitButton" type='submit'  dest='1'/>
            
        </div>
    </div>
    <div class="videoFrame">
        <iframe id='video2' width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="bottomform">
            
            <input id='link2' type='text' placeholder="youtube link"/>
            <input id='subm2' class="SubmitButton" type='submit'  dest='2'/>
           
        </div>
    </div>
    <div class="videoFrame">
        <iframe id='video3' width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="bottomform">
            <input id='link3' type='text' placeholder="youtube link"/>
            <input id='subm3' class="SubmitButton" type='submit'  dest='3'/>
        </div>
    </div>
    <div class="videoFrame">
        <iframe id='video4' width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="bottomform">
            <input id='link4' type='text' placeholder="youtube link"/>
            <input id='subm4' class="SubmitButton" type='submit'  dest='4'/>
        </div>
    </div>
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script src='script.js'></script>
</html>