<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="/Client/blackScreen.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <title>Vacatures</title>
</head>

<body>
  <div id="BlackScreen"></div>
  <div id="search">
    <form class="form" onsubmit="return false;">
      <input type="text" id="inputSearch" placeholder="Search.." name="search">
      <button type="submit" id="submitSearch"><i class="fa fa-search"></i></button>
    </form>

    <div id="containerOutput">
      <h1 id="outputTitle">Vacatures</h1>
      <div id="output"></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <script src="/Client/screenControl.js"></script>
</body>

</html>
