<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Navigation</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='startClient.css'>
  
</head>
<body>
    <div class='navBtn' dest='Maps'>Brainport Maps</div>
    <div class='navBtn' dest='Video'>Video Screen</div>
    <div class='navBtn' dest='Hologram'>Hologram Display</div>
    <div class='navBtn' dest='Vacatures'>Job offer</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src='script.js'></script>
</html>