body{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    height:auto;
}

.Screen{
    width:49%;
    height:auto;
    border:1px solid black;
}

.screentitle{
    width:auto;
    height:30px;
    font-size:1.5em;
    font-weight:bolder;
    border:1px solid pink;
}

.screenvideo{
    width:100%;
    height:50vh;
}

.HeadWrap{
    width:100%;
    height:auto;
    display:flex;
    justify-content: space-between;
}